<!-- Template for editing or creating posts -->
<!-- Need to send the following info: title, summary, content -->
<!-- (API route can get user-id from req.session) -->

<div class="post-title">
    <label for="post-title">Post title: </label>
    <input type="text" id="post-title" name="title" value="{{title}}" />
</div>

<div class="post-summary">
    <label for="post-summary">Summary (teaser): </label>
    <input type="text" id="post-summary" name="summary" value="{{summary}}" />
</div>

<div class="post-content">
    <label for="post-content">Content</label><br />
    <textarea name="content" id="post-content" rows="10" cols="50">
{{content}}
    </textarea>
</div>

<div>
    <!-- Cancel and return to dashboard -->
    <a href="/dashboard"><button>Cancel</button></a><br />
    <!-- proceed with addition or update -->
    {{#if editing}}
    <button class="edit-post" data-ID="{{post_id}}">Update Post</button>
    {{else}}
    <button class="add-post">Create Post</button>
    {{/if}}
</div>


<script src="/js/post.js"></script>
