<!-- Template for editing or creating posts -->
<!-- Need to send the following info: title, summary, content -->
<!-- (API route can get user-id from req.session) -->

<div class="post-title field">
    <label for="post-title" class="label">Post title: </label>
    <input type="text" id="post-title" class="input" name="title" value="{{title}}" />
</div>

<div class="post-summary field">
    <label for="post-summary" class="label">Summary (teaser): </label>
    <input type="text" id="post-summary" class="input" name="summary" value="{{summary}}" />
</div>

<div class="post-content field">
    <label for="post-content" class="label">Content</label><br />
    <textarea name="content" id="post-content" class="textarea">
{{content}}
    </textarea>
</div>

<div>
    <!-- proceed with addition or update -->
    {{#if editing}}
    <button class="edit-post button is-primary" data-ID="{{post_id}}">Update Post</button>
    {{else}}
    <button class="add-post button is-primary">Create Post</button>
    {{/if}}
    <!-- Cancel and return to dashboard -->
    <a href="/dashboard"><button class="button is-danger">Cancel</button></a><br />
</div>


<script src="/js/post.js"></script>
