<!-- one post and all associated comments -->
<div id="one-post">
    <h2>{{title}}</h2>
    <h3>by {{post_username}} on {{format_date date}}</h3>
    <h4>{{summary}}</h4>
    <p>{{content}}</p>
</div>
{{#each comments as |comment|}}
<div class="comments">
    <p>{{comment.content}}</p>
    <p>&mdash; {{comment.username}}, {{format_date comment.date}}</p>
</div>
{{/each}}

<div id="add-comment-content">
    <!-- elements in this div are initially hidden on document load -->
    <textarea name="comment" rows="3" cols="40"></textarea>
    <button class="cancel_comment">Cancel</button>
    <button class="submit_comment" data-id={{postID}}>Submit comment</button>
</div>

<button class="create_comment" data-id={{postID}}>Add a comment</button>

<script src="/js/addcomment.js"></script>
